<div class="container">
  <h1 align="center">Lista Prodotti</h1>

  <button mat-button [matMenuTriggerFor]="menu">Profilo</button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profilo">Profilo</button>
    <button mat-menu-item (click)="logout()">Logout</button>

  </mat-menu>


  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-xs-6" *ngFor="let prod of listaProd">

      <div class="thumbnail" style="width: 300px;height: 300px">
        <a class="d-block mb-4 h-100">
          <img routerLink="/prodotto-detail/{{prod.id}}" src={{prod.img}} style="max-width: 50%;height: 50%">
        </a>
        <div class="caption">
          <h4>{{prod.nome}}</h4>
          <p>{{prod.marca}}</p>
          <h3>{{prod.prezzoIvato}} €</h3>
        </div>

      </div>

    </div>
  </div>
</div>



