<h1 align="center">Login</h1>

<body>
<form class="example-form" (ngSubmit)= "login()">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="username" value="username"
           [(ngModel)]=" user.username" name="username" required>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <input matInput placeholder="password" value="password"
           [(ngModel)]=" user.password" name="password" required>
  </mat-form-field>


  <button mat-raised-button>Submit</button>
</form>

<p>
  Non hai un Account? <a routerLink="/register"> Register </a>
</p>

</body>
