<h1 align="center">Registrazione</h1>

<body>
<form class="example-form" (ngSubmit)= "register()">

<mat-form-field class="example-full-width">
  <input matInput placeholder="username" value="username"
         [(ngModel)]=" user.username" name="username" required>
</mat-form-field>


<mat-form-field class="example-full-width">
  <input matInput placeholder="password" value="password"
         [(ngModel)]=" user.password" name="password" required>
</mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="tel" value="tel"
           [(ngModel)]=" user.tel" name="tel" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="via" value="via"
           [(ngModel)]=" user.via" name="via" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="cap" value="cap"
           [(ngModel)]=" user.cap" name="cap" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="citta" value="citta"
           [(ngModel)]=" user.citta" name="citta" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="prov" value="prov"
           [(ngModel)]=" user.prov" name="prov" required>
  </mat-form-field>

<button mat-raised-button>Submit</button>
</form>

<p><button mat-raised-button (click)="goBack()">Torna Indietro</button></p>

</body>
